body {
    margin: 0;
    padding: 0;
}

#layout-footer {
    position: fixed;
    bottom: 0;
    height: 50px;
}

.custom-card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.custom-card-article {
    margin: 20px 0;
}

#button-add-event {
    margin: 0;
}

main {
    margin-bottom: 50px;
}

.button-red {
    background-color: orangered;
    border-color: orangered;
}

.button-yellow {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}
